
.front-inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.manu{
    display: flex;
    list-style: none;
    gap: 32px;
}
.manu a{
    text-decoration: none;
    color: black;
}
nav button{
    font-size: 16px;
    font-weight: 600;
    background-color:#469165;
    color: #FFFFFF;
    line-height: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
}
.hero{
    width: 1600px;
    height:674px;
    background-image:url("../assets/hero-bg.png");
    background-size: cover;
    background-position:center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    max-width: 770px;
    width: 1360;
    height: 379px;

}
.hero-text{
    display: inline-block;
    background-color: #FFFFFF;
    color: #000;
    padding: 8px 12px ;
    border-radius: 1000px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height:100%;
    
}
.hero-container h1{
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   margin-bottom: 20px;
}
.hero-container h1 span{
    color: #30B868;
    font-size: 72px;
   font-weight: 700;
   line-height: 84px;
}
.hero p{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.button-1{
    font-size: 16px;
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    border-radius:4px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
.button-2{
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    border-radius:4px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight:600;
    display: flex;
    gap: 10px;
}
.Notes-Section{
    width: 1600px;
    height: 448px;
    background-color:#f9fafb;
    padding-left: 120px;
    padding-bottom: 120px;
    padding-right: 120px;
    text-align: center;
    gap: 44px;
    
}


.Notes-hading-box {
  max-width: 900px;
  padding: 25px;
  text-align: center;
  margin: auto;  
}

.Notes-hading-box h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #001931;
}

.Notes-hading-box p {
  font-size: 16px;
  color: #627382;
  font-weight: 400;
  
}
.CARD-continer{
    width: 1360px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.card-1{
    margin:auto;
    max-width: 322px;
    height: 300px;
    text-align: center;
    padding: 24px;
    gap: 24px;
    border-radius:8px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}
.card-1 h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    line-height:100%;
}
.card-1 p{
    font-size:16px;
    font-weight:400;
    margin-bottom: 21px;
    line-height: 20px;
}
.card-icon{
    width:60px;
    height:60px;
    background-color: #F95555;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    border-radius:50%;

}

.Second-Brain-Section{
    width: 1600px;
    height:840px;
    padding: 120px;
    gap: 40px;
    background-color:#FFFFFF;
}
.Brain-conteiner{
    max-width:1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    align-items: center;
    
}
.brain-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.brani-content{
    width: 700px;
    height: 396px;
    gap: 40px;
    
}
.brani-content .text{
  font-size: 16px;
  font-weight: 500;
  font-style: Medium;
  color: #30B868;
  line-height: 20px;
  letter-spacing: 1px;
}
.brani-content h2{
    font-size: 48px;
    font-weight: 700;
    font-style:bold;
    line-height: 100%;
    color: #001931;
    margin: 16px 0px;
}
.brani-content p{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight:400;
    color:#627382;
    line-height: 20px;

}
.brani-content ul{
    list-style: none;
    margin: 40px 0px;
}
.brani-content li{
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
}

.Early-Access-Section{
    max-width: 1600px;

}
.Early-Access-container{
    width: 1360px;
    height: 384px;
    background-color:#F7F6F2;
    padding: 80px 40px;
    text-align: center;
    margin: 2px 120px 120px 120px;
}

.Early-Access-Section h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.Early-Access-Section p{
   font-size: 16px;
   font-weight:400;
   color: #627382;
   margin-bottom: 24px;
}
.Early-Access-Section a{
      width: 194px;
      height: 52px;
      background-color: #469165;
      justify-content:center;
      padding: 12px 16px 12px 16px;
      text-decoration: none;
      align-items: center;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0,0.05);
}
.Early-Access-Section a img{
    margin: 5px 0 0 0;
    width: 20px;
    height: 20px;
    
}
.button{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
    
}
 
.Early-Access-Section span{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 80px;
}

.Footer-Section{
    width: 1600px;
    height: 348px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    
}
.footer-container{
   display: flex;
   justify-content:space-between;
   
   position: relative;
   align-items: center;

}
.text{
    color: #F7F6F2;
    font-size: 20px;
    font-weight: 500;
    font-style: medium;

}
.text a{
    margin-right: 16px;
    width: 20px;
    height: 20px;
}
hr{
   border: none;
   height: 0.2px;
   background-color: #373d49;
   margin-top: 80px;
}
.fotter-p{
    text-align: center;
    font-size: 16px;
    font-weight:400;
    color: #FAFAFA;
    margin-top: 30px;

}




