
.front-inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.manu{
    display: flex;
    list-style: none;
    gap: 32px;
}
.manu a{
    text-decoration: none;
    color: black;
}
nav button{
    font-size: 16px;
    font-weight: 600;
    background-color:#469165;
    color: #FFFFFF;
    line-height: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
}
.hero{
    width: 1600px;
    height:674px;
    background-image:url("../assets/hero-bg.png");
    background-size: cover;
    background-position:center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    max-width: 770px;
    width: 1360;
    height: 379px;

}
.hero-text{
    display: inline-block;
    background-color: #FFFFFF;
    color: #000;
    padding: 8px 12px ;
    border-radius: 1000px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height:100%;
    
}
.hero-container h1{
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   margin-bottom: 20px;
}
.hero-container h1 span{
    color: #30B868;
    font-size: 72px;
   font-weight: 700;
   line-height: 84px;
}
.hero p{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.button-1{
    font-size: 16px;
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    border-radius:4px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
.button-2{
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    border-radius:4px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight:600;
    display: flex;
    gap: 10px;
}